@{
    ViewBag.Title = "_ChiTietDichVu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<div class="container">
   @if (Session["tinhtrangdat"] == "daduocdat")
    {    
       <h2 style="text-align: center; background-color: red; color: white;">SẢNH BẠN VỪA ĐẶT ĐÃ ĐƯỢC ĐẶT VÀO THỜI GIAN ĐÓ. VUI LÒNG CHỌN THỜI GIAN KHÁC HOẶC SẢNH KHÁC</h2>
    }
   else
   {
       if (Session["tinhtrangdat"] == "datthanhcong")
       {
        <h2 style="text-align: center; background-color: blue; color: white;">ĐẶT THÀNH CÔNG</h2>
       }
   }
    <div class="row">   
        <div class="col-md-8">
            <h2 class="text-center">
                <span class="tvtc-tit">
                    CHI TIẾT DỊCH  VỤ
                </span>
            </h2>
            @foreach (DatTiec.Models.Dichvu th in Model)
            {
                <div class="ctdv">
                    <div class="row">
                        <div class="col-md-4">
                            <img style="width:100%" src="~/Content/img_dv/@th.Hinhanh" />
                        </div>
                        <div class="col-md-8">
                            <div class="ctdv_cont">
                                <i class="fa fa-audio-description"></i>
                                <b>@th.Tendichvu</b><br />
                                <i class="fa fa-align-left"></i>
                                <b>Giá :</b> @th.Gia <br />
                            </div>

                        </div>
                    </div>
                    <div class="ctdv_des">
                        <div class="row">
                            <div class="col-md-12">
                                <i style="color: #007bff;font-size:20px" class="fa fa-check-circle"></i>
                                <b>Mô Tả: </b>@th.Mota <br />
                            </div>
                        </div>
                    </div>
                    @if (Session["quyen"] == "khachhang")
                    {
                           <span class="help-block" style="font-family:monospace">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
                          <div class="ctdv_btndat">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal"> <i class="fa fa-share-square"></i>  Đặt Dịch vụ</button>
                    </div>
                    }
                     @if (Session["quyen"] == null)
                        {
                            <a href="/Home/_DangNhap">ĐĂNG KÝ ĐỂ ĐẶT DỊCH VỤ</a>
                        }
                  
                 
                </div>
              
            }


            <div class="container">
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>THÔNG TIN ĐẶT HÀNG</h2>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                             
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    @using (Html.BeginForm("DatDichVu", "DichVu", FormMethod.Post, new { enctype = "multipart/form-data" }))                                  
                                         {
                                        if (Session["MaKH"] != null)
                                        {
                                              <input style="display:none;" name="MaKH" value="@Session["MaKH"].ToString()"  />
                                     
                                        }
                                        else
                                        {
                                            <input  hidden />
                                        }

                                        foreach (DatTiec.Models.Dichvu th in Model)
                                        {
                                            <input style="display:none" name="IdDichVu" value="@th.iddichvu" />
                                         <input style="display:none" name="LoaiDichVu" value="@th.idloai" />
                                        }
                                    @*<div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="margin:0">Điện thoại:</span>
                                        </div>
                                        <input type="number" class="form-control">
                                    </div>*@

                                    @*<div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="margin:0">Số lượng:</span>
                                        </div>
                                        <input type="number" class="form-control">
                                    </div>*@

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="margin:0">Ngày tổ chức</span>
                                        </div>
                                        <input  type="date" name="NgayToChuc" class="form-control" required />
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="margin:0">Thời gian đãi:</span>
                                        </div>
                                        <select name="ThoiGianToChuc">
                                            <option value="Trua">Trưa</option>
                                            <option value="Chieu" >Chiều</option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="margin:0">Địa chỉ</span>
                                        </div>
                                        <input name="DiaChi" type="text" value="939 ĐL Bình Dương, TP Thuận An, Bình Dương" disabled class="form-control">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="margin:0">Yêu cầu khác/ Ghi chú</span>
                                        </div>
                                        <input name="GhiChu" type="text" class="form-control">
                                    </div>
                                    <div class="text-center">
                                        <button data-action="DatDichVu" class="btn btn-primary "><i class="fa fa-share-square"></i>  Đặt ngay</button>
                                        <span class="help-block" style="font-family:monospace">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
                                      </div>
                                    }
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-fast-backward"></i>  Thoát</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4">
            @Html.Action("TinTuc", "DV")
        </div>
    </div>

</div>
@Html.Action("GioHang", "Home")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>

    $(function () {
        $("button[data-action]").click(function () {
            var action = $(this).attr("data-action");
            this.form.action = "/DV/" + action;

        });
    });


   
</script>